<h2>Welcome to <%= @user.child_username%> Progress,</h2>
===============================================
<p>You have successfully successfully requested a progress e-mail regarding <%= @user.child_username%>.
Here is a summary of your childs progress, starting from <%= @user.created_at%> until <%= DateTime.now%>
Thanks for joining <%= @user.parent_name%>...</p>
